body {
  background: #2e004f;
  font-family: 'Courier New', monospace;
}
.container {
  max-width: 600px;
  background-color: #4c007d;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px #fff;
  color: white;
}
h2 {
  color: #ffff66;
}
